<!DOCTYPE html>
<html lang="en">
    <%- include('partials/head') %> 
<body>
    <h1>
        Adios!
    </h1>
    <h2>
    Gracias por visitarnos. Por favor, no vuelva. Esto solo es una prueba.
    </h2>
    <img src="/images/adios.jpg" alt="">

</body>
</html>