<!DOCTYPE html>
<html lang="en">
<%- include('partials/head') %> 
<%- include('partials/bodyColor') %>   
    <a href="/olvidar">Olvidar Color</a>
    <a href="/logout">SAQUENME DE AQUI</a>
</body>
</html>