<% if (user.color=== 'Perry') { %>
    <body class="perry__body">
    <% } else if (user.color=== 'Negro'){ %>
        <body class="negro__body">
        <% } else if (user.color=== 'Slytherin') { %>
            <body class="slytherin__body">
            <% } else {%>
                <body class="ninguno_body" >
                <% } %>
                <h1>HOLA</h1>
                <h2>
                    Hola <%= user.name  %>  , elegiste el color: <%= user.color %>  , tu email es:
                            <%= user.email %> 
                </h2>
        